#legislators {

  // .MuiPaper-root {
  //   background-color: rgba(white, .75)
  // }

  .legislator {
    margin: 20px;
    width: 90%;

    .MuiCard-root {
      transition: .2s ease-in-out;
      border-radius: 5px;
      box-shadow: 0 0 10px gray;

      &:hover {
        background-color: lightgray;
      }
      animation-name: fade-in-down;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
    }
  }

  .legislator-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .link {
    text-decoration: none;
  }
}

.legislator-more-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: fade-in-down;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;

  img {
    margin-bottom: 35px;
    width: 220px;
  }
}