$header-font: 'IBM Plex Serif', serif;
$body-font: 'Montserrat', sans-serif;

$primary-color: #000080;
$neutral-color: lightgrey;
// $primary-light: #ffbe4d;
// $primary-dark: #d68800;

// $secondary: #002838;
// $secondary-light: #173B4A;
// $secondary-dark: #001720;

// $neutral: #E1E9F1;
// $neutral-light: #f4f7fa;
// $neutral-dark: #CFDDE9;

$bg-color: white;